.primary-nav {
	display: flex;
    justify-content: center;
	display: inline-block;
    margin-top: 5px;
    width: 100%;
    
	&--pull-right {
/*		float: right;*/
	}
    
    
    &--padding-all {
        padding: 0px 0px;
    }
	
	ul {
		@mixin clearfix;
        margin: 10px 0 0 30px;
        padding: 0;
        
        @mixin atMedium {
            display: flex;
            justify-content: center;
        }
	}
	
	li {
		list-style: none;
        display: block;
        padding-bottom: 15px;
        
        @mixin atMedium {
            float: left;
            display: inline;
            padding-right: 24px;
             text-align: center;
        }
        
        @mixin atLarge {
            margin: 2px 25px 0 5px;
        }
	}
	
    a {
        font-size: .9rem;
        font-weight: 300;
    }
    
    & input {
        position: absolute;
        width: 70%;
        padding: 6px 0;
        border: none;
        border-radius: 5px 0 0 5px;
        left: 34%;
        transform: translateX(-34%);
        top: 40px;
        
    }
    
    &__search--unitl-click {
        position: absolute;
        padding: 5.8px 15px 5.8px 15px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: all .3s ease-out;
        right: 15.3%;
        background-color: $mainGray;
        color: $mainBlue;
        top: 40px;
        
        @mixin atLarge {
           right: 16.45%; 
        }
        
        &:hover {
            background-color: $mainGray;
            color: $mainRed;
        }
    }
    
    &__form {
        opacity: 0;
        visibility: hidden;
        width: 0;
        transition: all .3s ease-out;
    }
    
    &__form--is-expanded {
        opacity: 1;
        margin: 34px 0;
        visibility: visible;
        width: auto;
    }
    
    &__hide-on-form-expanded__false {
        display: block;
    }
    
    &__hide-on-form-expanded__true {
        display: none;
    }
    
    
    
    &__form--close {
        @mixin atMedium {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 1.4rem;
            transform: scaleX(4);
            transform-origin: 100% 0%;
            color: #fff;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-out;

            &:hover {
                color: $mainRed;
            }
        }
    }
    
    &__form--close--is-visible {
        opacity: 1;
        transform: scaleX(1.2);
        visibility: visible;
    }
    
    &__search {
        opacity: 0;
        transform: scale(0) ;
        padding-top: 3px;
        cursor: pointer;
        visibility: hidden;
        transition: all .3s ease-out;
    }
    
      &__search--is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: all .3s ease-out;
     }
    

}