.section-items {
   
    position: relative;
	padding-bottom: .3rem;
	
	@mixin atSmall {

	}
    
    &--t-padding {
        padding-top: 10px;
    }
    
    &--t-margin {
        margin-top: 20px;
    }
    
    &__title {
        font-size: 1rem;
        font-weight: 400;
        margin-top: .5em;
		margin-bottom: .5rem;

        @mixin atSmall {
        font-size: 1.2rem;
        }
        
    }
    
    
    &__sub-title {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 2.1em;
        text-align: center;

        @mixin atSmall {
        font-size: 1rem;
        }
        
    }
    

    
    &__sub-title-font-weight {
        font-weight: 400;
        text-align: center;
        font-size: 1rem;
        
        @mixin atSmall {
            font-size: 1.2rem;
        }
    }
    
    &__center {
        text-align: center;
    }
  
   
    &__bg-blue {
        background-color: $mainBlue;
    }
    
    &--blue {
        color: $mainBlue;
    }
    
    &--white {
        color: #fff;
    }
    &--red {
        background-color: $mainRed;
    }
    &--yellow {
       color: yellow;
    }
    
}