.section-title {
    
    position: relative;
	font-size: 1.8rem;
	font-weight: 300;
	text-align: center;
/*    color: #fff;*/
    padding: 8px 0;
    display: block;
    margin: 0;
    
	@mixin atSmall {
		font-size: 2.5rem;
	}
	
/*
	strong {
		font-weight: 500;
	}
*/
      
	
    &--t-margin {
        margin: 40px 0 0 0 !important;
    }
    
    &--blue {
         color: $mainBlue;
    }
    
    &--t-margin {
        margin: 0 ;
    }
    
    &--b-margin {
        margin-bottom: 2em ;
    }
    
    &--r-color {
        color: $mainRed;
    }
    
    &--black-color {
        color: $mainBlack;
    }
	
    &--b-color {
        color: $mainBlue;
    }
    
    &--w-color {
        color: #fff;
    }
	
}