.site-footer {
	
	background-color: $mainBlue;
	color: #fff;
	padding: .5rem 0;
	text-align: center;
    padding:  0 5px 0.5rem 5px;
    
    @mixin atSmall {
        padding: 1px 10px 10px 10px;
    }
	
	&__text {
		font-weight: 400;
		font-size: .9rem;

        
		@mixin atSmall {
            margin-bottom: .3rem;
			font-size: 1rem;
		}
	}
    
    &__subtitle {
        font-weight: 300;
        font-size: .9rem;
        padding-top: 5px !important;
        margin-top: 10px;
    
    }
}